<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ultimate">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ultimate_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ultimate">
        <activity
            android:name=".ui.Dashboard.XYZ.MyNotes"
            android:exported="false" />
        <activity
            android:name=".ui.Dashboard.XYZ.SamplePaper"
            android:exported="false" />
        <activity
            android:name=".ui.Dashboard.XYZ.Notes"
            android:exported="false" />
        <activity
            android:name=".ui.Reset.Reset"
            android:exported="false" />
        <activity
            android:name=".ui.Signup.Signup"
            android:exported="false" />
        <activity
            android:name=".ui.ForgotPassword.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".ui.Login.Login"
            android:exported="false" />
        <activity
            android:name=".ui.Intro.IntroScreen"
            android:exported="false" />
        <activity
            android:name=".ui.Dashboard.Dashboard"
            android:exported="false" />
        <activity
            android:name=".ui.Splash"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>